<template>
  <require from="./range-chooser.scss"></require>
  <require from="components/common/dropdown/dropdown"></require>
  <require from="components/common/dropdown/dropdown-title"></require>
  <require from="components/common/dropdown/dropdown-container"></require>
  <dropdown class="range-chooser" container-classes="range-chooser__container" dropdown-position="below">
    <dropdown-title>
      <div class="button button--primary">
        <span class="material-icons range-chooser__icon range-chooser__icon--left">access_time</span>
        <span class="range-chooser__heading">${ selectedRange.id }</span>
        <span class="material-icons range-chooser__icon">arrow_drop_down</span>
      </div>
    </dropdown-title>
    <dropdown-container>
      <a class="range-chooser__menu-item" repeat.for="range of selectableRanges" click.delegate="selectRange(range)">${ range.id }</a>
    </dropdown-container>
  </dropdown>
</template>
