<!DOCTYPE html>
<html class="html" lang="en">

<head>
  <meta charset="utf-8">
  <base href="/">
  <% if (htmlWebpackPlugin.options.metadata.production) { %>
    <style>
      .splash-container {
        background-color: #eeeeee;
        bottom: 0;
        left: 0;
        opacity: 1;
        position: fixed;
        right: 0;
        top: 0;
        transition: opacity .75s cubic-bezier(.15, .99, .18, 1.01);
      }

      .splash-container--fade-out {
        opacity: 0;
      }

      .splash {
        box-sizing: border-box;
        font-family: 'Helvetica', 'Arial', sans-serif;
        margin: 10% 0 0 0;
        text-align: center;
      }

      .splash__message {
        color: rgba(0, 0, 0, .54);
        font-size: 72px;
        line-height: 72px;
        text-transform: uppercase;
      }

      .splash__logo {
        display: inline-block;
        margin: 24px;
        width: 120px;
      }
    </style>
    <script async src="https://www.googletagmanager.com/gtag/js?id=${ htmlWebpackPlugin.options.metadata.googleAnalytics }"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', '${ htmlWebpackPlugin.options.metadata.googleAnalytics }', { 'anonymize_ip': true });
    </script>
    <script type="text/javascript">
      window._trackJs = {
        token: "${ htmlWebpackPlugin.options.metadata.trackJs.token }",
        application: "${ htmlWebpackPlugin.options.metadata.trackJs.application }",
        network: {
          enabled: false,
          error: true
        },
        onError: function (payload) {
          payload.network = payload.network.filter(function (item) {
            if (item.statusCode !== 400 && item.statusCode !== 401) {
              return true;
            }
            else {
              return false;
            }
          });

          return true;
        }
      };
    </script>
    <script type="text/javascript" src="https://cdn.trackjs.com/releases/current/tracker.js"></script>
    <% } %>

      <link rel='icon' href='/favicon.png' type='image/x-icon' />
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
      <title>
        <%- htmlWebpackPlugin.options.metadata.title %>
      </title>
      <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
      <!-- imported CSS are concatenated and added automatically -->
</head>

<body class="body">
  <div aurelia-app="main" class="app"></div>
  <div class="splash-container">
    <div class="splash">
      <div class="splash__message">
        <%- htmlWebpackPlugin.options.metadata.title %>
      </div>
      <div class="splash__logo">
        <img src="images/telenorlogo.svg" alt="telenorlogo" />
      </div>
    </div>
  </div>
  <% if (htmlWebpackPlugin.options.metadata.server) { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
</body>

</html>
