.application-details-card {
  min-height: 360px;
  user-select: none;
}

.no-graph-data {
  align-items: center;
  color: @font-color-disabled;
  justify-content: center;

  &__icon {
    font-size: 128px;
  }
}
