@import "setup/typography";
@import "variables/colors";

.secret-text {
  align-items: center;
  display: inline-flex;
  min-width: 280px;

  &__content {
    flex: 1;
  }

  &__icon {
    align-self: flex-end;
    color: $font-color-secondary;
    cursor: pointer;

    &--toggled {
      color: $color--telenor-blue;
    }
  }
}
