<template>
  <require from="valueConverters/tagName"></require>
  <require from="components/tag/tag-chip-list-simple/tag-chip-list-simple.html"></require>
  <require from="components/device/device-message-stats/device-message-stats"></require>
  <require from="components/common/pagination/pagination"></require>
  <require from="./device-table.scss"></require>
  <table class="table device-table">
    <thead>
      <tr>
        <th class="table__head-data">Name</th>
        <th class="table__head-data">Dev address</th>
        <th class="table__head-data">Device EUI</th>
        <th class="table__head-data">Type</th>
        <th class="table__head-data"></th>
        <th class="table__head-data visible-desktop">Tags</th>
        <th class="table__head-data"></th>
      </tr>
    </thead>
    <tbody>
      <tr repeat.for="device of filteredDevices">
        <td class="table__data">
          <div class="device-table__icon-cell">
            <span if.bind="device.keyWarning" title="Key warning" class="material-icons device-table__device-warning-icon">warning</span>
            <a class="link" route-href="route: application_device; params.bind: { applicationId: applicationEui, deviceId: device.deviceEUI}">${ device | tagName }</a>
          </div>
        </td>
        <td class="table__data">${ device.devAddr }</td>
        <td class="table__data">${ device.deviceEUI }</td>
        <td class="table__data">${ device.deviceType }</td>
        <td class="table__data">
          <device-message-stats device.bind="device" application-eui.bind="applicationEui"></device-message-stats>
        </td>
        <td class="table__data visible-desktop">
          <tag-chip-list-simple tag-entity.bind="device"></tag-chip-list-simple>
        </td>
        <td class="table__data table__data--action-column">
          <dropdown container-classes="dropdown__container--transform-top-right">
            <dropdown-title>
              <span class="material-icons dropdown__icon">more_vert</span>
            </dropdown-title>
            <dropdown-container>
              <a class="dropdown__menu-item" route-href="route: application_device; params.bind: { applicationId: applicationEui, deviceId: device.deviceEUI}">Settings</a>
              <a class="dropdown__menu-item" click.delegate="deleteDevice(device)">Delete</a>
            </dropdown-container>
          </dropdown>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination filter-callback.call="filteredDevicesCallback(filteredCollection)" collection.bind="devices"></pagination>
</template>
