$flex-container-header-color: $font-color-primary;
$flex-container-header-border-color: $color-grey-theme--dark;

.flex-element {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &--grow {
    flex-grow: 1;
    overflow: auto;
  }

  &__item {
    display: flex;
    flex-grow: 1;

    &--full-width {
      width: 100%;
    }
  }
}

.flex-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;

  &__header {
    border-bottom: solid 1px $flex-container-header-border-color;
    color: $flex-container-header-color;
    padding: $grid-size * 4;

    &--compact {
      padding: $grid-size * 2;
    }
  }

  &__body {
    padding: $grid-size*4;
    flex: 1;

    &--centered {
      align-items: center;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
    }

    &--no-padding {
      padding: 0;
    }

    &--scroll {
      overflow: auto;
    }
  }

  &__footer {
    align-self: flex-end;
    padding: $grid-size*4;
  }
}
