.main-content {
  flex-grow: 1;
  overflow: auto;
  position: relative;
}

.app {
  height: 100%;
  width: 100%;
}

.page-content {
  align-items: stretch;
  display: flex;
  height: calc(100% - 72px);
}
