<template class="top-header" bindable="router">
  <require from="./nav-header.scss"></require>
  <require from="components/common/profile-dropdown/profile-dropdown"></require>
  <require from="components/common/svg/propeller.html"></require>
  <h1 class="top-header__heading">
    <a href="/">Telenor LoRa</a>
    <span class="top-header__logo">
      <propeller></propeller>
    </span>
  </h1>
  <nav class="top-header__main-nav">
    <a repeat.for="row of router.navigation" class="top-header__main-nav-entry ${row.isActive ? 'top-header__main-nav-entry--selected' : ''}"
      href.bind="row.href">${row.title}</a>
  </nav>
  <nav class="top-header__icon-nav">
    <a rel="noopener" href="https://docs.lora.engineering" target="_blank" class="top-header__icon material-icons">description</a>
    <span class="top-header__icon material-icons">notifications</span>
    <profile-dropdown></profile-dropdown>
  </nav>
</template>
