.applications-container {
  align-items: flex-start;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;

  @include desktop() {
    justify-content: flex-start;
  }
}

.applications-separator {
  display: block;
  margin-bottom: $grid-size * 2;
  width: 100%;

  &__title {
    color: $font-color-opacity--black-38;
    font-size: $font-size--15;
    font-weight: $font-weight--medium;
  }
}

.applications-divider {
  background-color: $font-color-dividers;
  display: block;
  height: 1px;
  margin: $grid-size * 2 0;
  width: 100%;
}

.no-applications-found {
  align-items: center;
  bottom: 0;
  color: $font-color-disabled;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  &__icon {
    font-size: 128px;
  }

  &__link {
    color: #4285f4;

    &:hover {
      color: #4285f4;
    }
  }
}

.application-card-dropdown {
    background-color: $color--telenor-blue-darker;
    border-radius: 2px;
    color: $color--white;
    display: inline-block;
    font-size: $font-size--14;
    padding: $grid-size;
    position: relative;
}
