<template>
  <require from="components/token/token-expansion-panel/token-expansion-panel"></require>
  <main class="main-content">
    <div class="grid section">
      <div class="grid__row">
        <div class="grid__item grid__item--4 grid__item--no-stretch">
          <card>
            <card-header>
              <card-title>Your API keys</card-title>
            </card-header>
            <card-body>
              <p class="tn-p">
                An API token will give you access directly to our LoRa API which gives you the power to fetch and create resources according
                to your need programatically. This is especially practical when working on a larger scale or you want to
                integrate directly towards our backend.
              </p>
              <p class="tn-p" if.bind="tokens.length > 0">
                On the right you will find your existing tokens and you can create new ones by clicking the "New API key" button.
              </p>
              <p class="tn-p" if.bind="tokens.length === 0">
                You have no API keys yet. Why not create one? You can create new ones by clicking the "New API key" button.
              </p>
            </card-body>
            <card-actions align-right>
              <tn-button flat click.trigger="createNewToken()">New API key</tn-button>
            </card-actions>
          </card>
        </div>
        <div class="grid__item grid__item--8">
          <div class="card card--full-width card--transparent" if.bind="tokens.length > 0">
            <token-expansion-panel repeat.for="token of tokens" applications.bind="applications" gateways.bind="gateways" token.bind="token"></token-expansion-panel>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>
