<template>
  <require from="components/nav-header.html"></require>
  <require from="components/application-card"></require>
  <require from="valueConverters/sort"></require>
  <nav-header heading="Applications"></nav-header>
  <section class="section">
    <div class="applications-separator">
      <div class="applications-separator__title">Your applications</div>
    </div>
    <div class="applications-container">
      <application-card repeat.for="application of availableApplications | sort:'name':'asc'" application.bind="application"></application-card>
      <a class="card card--selectable application-card application-card--create-new" click.trigger="createNewApplication()" tabindex="0">
        <div class="card__header">
          <h3 class="h3">Create new application</h3>
        </div>
        <div class="card__body card__body--no-padding application-card__create-new-body">
          <i class="material-icons application-card__create-new-icon">add</i>
        </div>
      </a>
    </div>
  </section>
</template>
