<template>
  <require from="components/nav-header.html"></require>
  <require from="components/application-card"></require>
  <require from="valueConverters/sort"></require>
  <nav-header heading="Your applications"></nav-header>
  <section class="section">
    <application-card repeat.for="application of availableApplications | sort:'name':'asc'" application.bind="application"></application-card>
  </section>
  <button class="button button--primary button--floating button-position--absolute-bottom-right" click.trigger="createNewApplication()"><i
    class="material-icons">add</i></button>
</template>
