<template>
  <require from="components/gateway/gateway-map/gateway-map"></require>
  <require from="components/gateway/gateway-card/gateway-card"></require>
  <main class="main-content">
    <section class="grid section">
      <div class="grid__row">
        <div class="grid__item grid__item--4 grid__item--no-stretch">
          <card>
            <card-body no-padding>
              <gateway-map personal-gateways.bind="personalGateways" public-gateways.bind="publicGateways"></gateway-map>
            </card-body>
          </card>
        </div>
        <div class="grid__item grid__item--8 grid__item--no-stretch">
          <div class="gateway-container">
            <gateway-card repeat.for="gateway of personalGateways" gateway.bind="gateway"></gateway-card>
            <button class="card card--selectable gateway-card gateway-card--create-new" click.trigger="createNewGateway()">
              <div class="card__body gateway-card__create-new-body">
                <h3 class="h3">Add new gateway</h3>
              </div>
            </button>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>
