<template bindable="gateway">
  <require from="./gateway-card.scss"></require>
  <require from="components/common/graph-chart/graph-chart"></require>
  <require from="valueConverters/tagName"></require>
  <div class="card gateway-card">
    <div class="card__header">
      <h2 class="h2 gateway-card__heading" title="${gateway | tagName:'gatewayEUI' }">${gateway | tagName:'gatewayEUI' }</h2>
      <dropdown container-classes="dropdown__container--transform-top-right">
        <dropdown-title>
          <span class="material-icons dropdown__icon dropdown__icon--colored">more_vert</span>
        </dropdown-title>
        <dropdown-container>
          <dropdown-item click.delegate="showEventLog()">Show event log</dropdown-item>
          <dropdown-item click.delegate="editGateway()">Edit</dropdown-item>
          <dropdown-item click.delegate="deleteGateway()">Delete</dropdown-item>
        </dropdown-container>
      </dropdown>
    </div>
    <div class="card__body card__body--no-padding">
      <graph-chart chart-data.bind="chartData" chart-options.bind="chartOptions" chart-type.bind="chartType"></graph-chart>
    </div>
  </div>
</template>
