@color--white: #ffffff;
@color--black: #000000;

@color--blue: #4285f4;
@color--telenor-blue: #00ACE7;

@color--google-grey-200: #eeeeee;

@color-grey-theme--lightest: #ffffff;
@color-grey-theme--light: #fafafa;
@color-grey-theme--dark: #eeeeee;
@color-grey-theme--darkest: #9e9e9e;
