@import 'setup/typography';

@import 'variables/grid';

.gateway-map {
  &__search {
    padding: $grid-size * 2;
  }

  &__map {
    flex-grow: 1;
    position: relative;
  }

  &__controls {
    display: flex;
    padding: $grid-size * 2;
  }

  &__overlay {
    align-items: center;
    background-color: rgba(0,0,0,.56);
    bottom: 0;
    color: $font-color-primary--colored;
    display: flex;
    justify-content:center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
  }
}
