@import 'styles/variables/colors';
@import 'styles/variables/grid';
@import 'styles/setup/typography';

.code-block {
  background-color: $color--google-grey-200;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__header {
    background-color: $color--white;
    color: $font-color-secondary;
    display: flex;
  }

  &__icon {
    color: $font-color-secondary;
    font-size: $grid-size * 4.5;
    padding-left: $grid-size * 1.5;
    padding-right: $grid-size * 1.5;
    text-align: center;
    user-select: none;

    &--clickable {
      cursor: pointer;
    }

    &--colored {
      background-color: $color--telenor-blue;
      color: $font-color-secondary--colored;

      &:hover {
        background-color: $color--telenor-blue-dark;
        color: $font-color-primary--colored;
      }

      &:active {
        background-color: $color--telenor-blue-darker;
      }
    }
  }

  &__heading {
    flex-grow: 1;
    line-height: 42px;
  }

  &__content {
    line-height: 2;
    margin: 0;
    padding: $grid-size * 2;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}
