.device-expansion-panel {
  &__section {
    display: flex;
    margin-bottom: $grid-size;
  }

  &__section-header {
    margin-right: $grid-size * 2;
    width: 200px;
  }

  &__section-data {
    color: $font-color-secondary;
    flex-grow: 1;
  }
}
