<template>
  <require from="./login.scss"></require>
  <require from="components/common/svg/propeller.html"></require>
  <section class="landing-page">
    <div class="landing-page__section landing-page__section--colored"></div>
    <div class="landing-page__hero">
      <div class="landing-page__hero-section">
        <h1 class="h1 landing-page__main-header">
          We want more
          <em>things</em> in IoT
        </h1>
        <div class="section landing-page__sub-header">
          Get started
        </div>
        <a click.trigger="login()">
          <img class="landing-page__login-button" src="/images/connect_button.png" alt="Log in with CONNECT" />
        </a>
      </div>
    </div>
    <div class="landing-page__section">
      <div class="landing-page__content grid__row">
        <div class="grid__item grid__item--4">
          <section class="section highlight">
            <div class="highlight__image-wrapper">
              <i class="material-icons highlight__image">timeline</i>
            </div>
            <h2 class="h2 landing-page__section-header">Full self service</h2>
            <span class="landing-page__text">
              No interaction with us unless you want to. Manage your applications, devices, gateways and API keys at your pace.
            </span>
          </section>
        </div>
        <div class="grid__item grid__item--4">
          <section class="section highlight">
            <div class="highlight__image-wrapper">
              <i class="material-icons highlight__image">settings</i>
            </div>
            <h2 class="h2 landing-page__section-header">Things</h2>
            <span class="landing-page__text">
              Add any device with LoRa-WAN support and watch data flow through our system and into your selected output.
            </span>
          </section>
        </div>
        <div class="grid__item grid__item--4">
          <section class="section highlight">
            <div class="highlight__image-wrapper">
              <i class="material-icons highlight__image">add_location</i>
            </div>
            <h2 class="h2 landing-page__section-header">Gateway support</h2>
            <span class="landing-page__text">
              Add, track and see live traffic from your gateway. Be a part of the public network or use a private gateway.
            </span>
          </section>
        </div>
      </div>
    </div>
    <div class="landing-page__section">
      <div class="landing-page__content">
        <header class="landing-page__capability-header">
          <h2 class="h2">API keys</h2>
        </header>
        <section class="landing-page__text">
          Do you hate UIs or have huge fleet of devices you want to configure programatically? We got you covered! You can add API
          keys with several different granularity:
          <ul class="landing-page__bullet-point">
            <li class="landing-page__bullet-point-entry">Read/Write</li>
            <li class="landing-page__bullet-point-entry">Application specific rights</li>
            <li class="landing-page__bullet-point-entry">Gateway specific rights</li>
          </ul>
        </section>
      </div>
    </div>
    <div class="landing-page__section">
      <div class="landing-page__content">
        <header class="landing-page__capability-header">
          <h2 class="h2">Outputs</h2>
        </header>
        <section class="landing-page__text">
          We send the data where you want it. There are several available outputs which all can be configured on an application level.
          The following outputs are available:
          <ul class="landing-page__bullet-point">
            <li class="landing-page__bullet-point-entry">MQTT</li>
            <li class="landing-page__bullet-point-entry">WebSockets</li>
            <li class="landing-page__bullet-point-entry">Amazon IoT</li>
            <li class="landing-page__bullet-point-entry">More coming...</li>
          </ul>
        </section>
      </div>
    </div>
    <div class="landing-page__section">
      <div class="landing-page__content">
        <header class="landing-page__capability-header">
          <h2 class="h2">Need things?</h2>
        </header>
        <section class="landing-page__text">
          We offer our own designed devices which can be found in our
          <a class="link link--colored" target="_blank" href="https://shop.exploratory.engineering">web shop</a>. You'll find both dev kits (EE-04) which are perfect for tinkering with LoRa and production devices
          (EE-02) for when you are ready to deploy devices in the wild. Best part, the devices are all
          <a class="link link--colored" href="https://github.com/telenordigital/ee0x-hardware">open sourced</a>.
        </section>
      </div>
    </div>
    <div class="landing-page__section">
      <div class="landing-page__content">
        <header class="landing-page__capability-header">
          <h2 class="h2">Contact us</h2>
        </header>
        <section class="landing-page__text">
          Want to get personal or just have a chat? Send a mail to
          <span class="link link--colored">ee@telenordigital.com</span> and we'll talk to you as soon as we're able.
        </section>
      </div>
    </div>
  </section>
</template>
