<template>
  <require from="components/raven.html"></require>
  <section class="server-error">
    <div class="server-error__logo">
      <raven></raven>
    </div>
    <div class="server-error__content">
      <h1 class="h1 server-error__header">Oops, unfortunately something went wrong.</h1>
      <div class="server-error__body">
        <p>
          Sometimes stuff goes... wrong. Fear not, everything will be up and running shortly as our developers have had bells and alarms
          alert them to the situation. Might I suggest getting a coffee and then hitting the button below?
        </p>
        <a class="button button--primary" click.trigger="navigateBack()">Try again</a>
      </div>
    </div>
  </section>
</template>
