<template>
  <require from="components/common/code-line/code-line"></require>
  <require from="components/common/code-block/code-block"></require>
  <require from="valueConverters/tagName"></require>
  <require from="valueConverters/tagDescription"></require>
  <div class="device-expansion-panel expansion-panel ${ active ? 'expansion-panel--expanded' : '' }">
    <div class="expansion-panel__header" click.delegate="toggle()" tabindex="0">
      <span class="expansion-panel__title">${ token | tagName }</span>
      <span class="expansion-panel__subtitle">${ description }</span>
      <span class="expansion-panel__chevron">
        <div class="material-icons">${ active ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }</div>
      </span>
    </div>
    <div if.bind="active" class="expansion-panel__body expansion-panel__body--column">
      <h4 class="h4">Your API key</h4>
      <code-line icon="vpn_key" code.bind="token.token"></code-line>
      <p>This API key is used as your way of interacting directly with the API of Telenor LoRa.
      </p>
      <h4 class="h4">Examples</h4>
      <section if.bind="hasFullAccessToAllResources">
        <p>This token has full access to all resources. You can access resources in the API by using the examples below.</p>
        <p>Curl example for fetching the API root by using your API key</p>
        <code-block icon="code" code.bind="curlGetRoot()"></code-block>
      </section>
      <section if.bind="hasAccessAllApplications">
        <p>This token allows access for all applications. You can access the applications in the API by using the examples below</p>
        <p>Curl example for fetching all applications by using your API key</p>
        <code-block icon="code" code.bind="curlGetApplications()"></code-block>
      </section>
      <section if.bind="hasAccessToAllGateways">
        <p>This token allows access for all gateways. You can access the gateways in the API by using the examples below</p>
        <p>Curl example for fetching all applications by using your API key</p>
        <code-block icon="code" code.bind="curlGetGateways()"></code-block>
      </section>
      <section if.bind="hasAccessToSpecificApplication">
        <p>To interact with your application you need to provide the applicationEUI which can be found in the examples below.</p>
        <p>Curl example for fetching information about the application by using your API key</p>
        <code-block icon="code" code.bind="curlGetApplicationInformation()"></code-block>
        <p>Curl example for fetching devices for application by using your API key</p>
        <code-block icon="code" code.bind="curlGetApplicationDevices()"></code-block>
        <p>Curl example for fetching data for all your devices in your application by using your API key</p>
        <code-block icon="code" code.bind="curlGetApplicationData()"></code-block>
      </section>
      <section if.bind="hasAccessToSpecificGateway">
        <p>To interact with your gateway you need to provide the gatewayEUI which can be found in the examples below.</p>
        <p>Curl example for fetching information about the gateway by using your API key</p>
        <code-block icon="code" code.bind="curlGetGatewayInformation()"></code-block>
      </section>
      <p>For a full list of the different endpoints check out our
        <a class="link" target="_blank" rel="nofollow" href="#">API documentation</a>
      </p>
    </div>
    <div if.bind="active" class="expansion-panel__footer">
      <tn-button flat click.delegate="editToken()">Edit token</tn-button>
      <tn-button flat click.delegate="deleteToken()">Delete token</tn-button>
    </div>
  </div>
</template>
