<template bindable="application">
  <require from="components/tag/tag-chip-list-simple/tag-chip-list-simple.html"></require>
  <require from="valueConverters/tagName"></require>
  <card>
    <card-header>
      <card-title>Application details</card-title>
    </card-header>
    <card-body>
      <h5 class="application-details-card__heading">Name</h5>
      <p class="application-details-card__content">${ application | tagName }</p>
      <h5 class="application-details-card__heading">EUI</h5>
      <p class="application-details-card__content">${ application.appEUI }</p>
      <tag-chip-list-simple tag-entity.bind="application"></tag-chip-list-simple>
    </card-body>
    <card-actions align-right>
      <button click.trigger="editApplication()" class="button button--flat">Edit application</button>
    </card-actions>
  </card>
</template>
