<template>
  <require from="components/device/device-table/device-table"></require>
  <require from="components/application/application-graph-card/application-graph-card"></require>
  <require from="components/application/application-output-card/application-output-card"></require>
  <require from="components/application/application-details-card/application-details-card"></require>
  <require from="components/application/application-nav-bar-menu/application-nav-bar-menu.html"></require>
  <require from="valueConverters/take"></require>
  <application-nav-bar-menu application.bind="application" selectableapplications.bind="selectableApplications" router.bind="router"></application-nav-bar-menu>
  <div class="section">
    <div class="grid__row">
      <div class="grid__item grid__item--3">
        <application-details-card application.bind="application"></application-details-card>
      </div>
      <div class="grid__item grid__item--6">
        <application-graph-card containerless application.bind="application" chart-data.bind="chartData" selected-range.two-way="selectedRange"></application-graph-card>
      </div>
      <div class="grid__item grid__item--3">
        <application-output-card application-eui.bind="application.appEUI"></application-output-card>
      </div>
    </div>
    <div class="grid__row">
      <div class="grid__item grid__item--12">
        <div class="card card--full-width" if.bind="devices.length">
          <div class="card__header card__header--table card__header--colored">
            <h4 class="h4">Your devices</h4>
          </div>
          <div class="card__body card__body--no-padding">
            <device-table devices.bind="devices" application-eui.bind="application.appEUI"></device-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
