<template>
  <require from="components/application-nav-bar-menu.html"></require>
  <require from="components/device-table.html"></require>
  <application-nav-bar-menu application.bind="application" selectableapplications.bind="selectableApplications" router.bind="router"></application-nav-bar-menu>
  <div class="section">
    <div class="card">
      <div class="card__header card__header--table card__header--colored">
        <h4 class="h4 card-header-heading">Your devices</h4>
        <div class="card-header-actions">
          <button click.trigger="createNewDevice()" class="card-header-actions__action">Add device</button>
        </div>
      </div>
      <div class="card__body card__body--no-padding" if.bind="devices.length > 0">
        <device-table devices.bind="devices" application-eui.bind="application.appEUI"></device-table>
      </div>
      <div class="card__body no-data-card-body" if.bind="devices.length === 0">
        <i class="no-data-card-body__icon material-icons">settings</i>
        <div class="no-data-card-body__heading h2">No devices found. <a class="no-data-card-body__link link" click.delegate="createNewDevice()">Create one?</a></div>
      </div>
    </div>
  </div>
</template>
