<template>
  <require from="components/application-nav-bar-menu.html"></require>
  <require from="components/device-expansion-panel"></require>
  <require from="components/nav-header.html"></require>
  <require from="components/graph-chart"></require>
  <nav-header heading="Application overview"></nav-header>
  <application-nav-bar-menu application.bind="application" selectableapplications.bind="selectableApplications" router.bind="router"></application-nav-bar-menu>
  <div class="section flex-element--grow">
    <div class="card application-details-card">
      <div class="card__header card__header--colored">
        <h4 class="h4">Data for ${application.name} the <span class="application-card-dropdown">last six hours</span> with the parser
          <span class="application-card-dropdown">RSSI</span></h4>
      </div>
      <div class="card__body application-details-card__graph">
        <graph-chart chart.bind="chart" chart-data.bind="chartData" chart-options.bind="chartOptions" chart-type.bind="chartType"></graph-chart>
        <div class="no-graph-data" if.bind="!hasMessageData">
          <i class="material-icons no-graph-data__icon">insert_chart</i>
          <h2>No data to graph</h2>
        </div>
      </div>
    </div>
    <device-expansion-panel repeat.for="device of devices" device.bind="device" appeui.bind="application.appEUI"></device-expansion-panel>
  </div>
</template>
