<template>
  <require from="components/device/device-table/device-table"></require>
  <require from="components/application/application-nav-bar-menu/application-nav-bar-menu.html"></require>
  <application-nav-bar-menu application.bind="application" selectableapplications.bind="selectableApplications" router.bind="router"></application-nav-bar-menu>
  <div class="section">
    <card if.bind="hasDevicesWithWarnings">
      <card-header warning>
        <card-title>Warning!</card-title>
      </card-header>
      <card-body>
        One or more of your devices have keys that are in use by one or more other devices. Your data might not be secure and may
        be read by others. To fix this, change both the application key and network key for the marked device underneath.
      </card-body>
    </card>
    <card>
      <card-header table>
        <card-title>Your devices</card-title>
        <card-header-actions show.bind="devices.length > 0">
          <button click.trigger="createNewDevice()" class="button button--primary button--raised">Add device</button>
        </card-header-actions>
      </card-header>
      <card-body no-padding>
        <device-table show.bind="devices.length > 0" devices.bind="devices" application-eui.bind="application.appEUI"></device-table>
        <div class="no-data-card-body" show.bind="devices.length === 0">
          <i class="no-data-card-body__icon material-icons">settings</i>
          <div class="no-data-card-body__heading h2">No devices found.
            <div class="button-group">
              <button class="button button--primary button--raised" click.delegate="createNewDevice()">Create one?</button>
            </div>
          </div>
        </div>
      </card-body>
    </card>
  </div>
</template>
