<template>
  <require from="components/application-nav-bar-menu.html"></require>
  <require from="components/nav-header.html"></require>
  <nav-header heading="Application integrations"></nav-header>
  <application-nav-bar-menu application.bind="application" selectableapplications.bind="selectableApplications" router.bind="router"></application-nav-bar-menu>
  <section class="section">
    <div class="card">
      <div class="card__header card__header--colored">
        <h4 class="h4 card-header-heading">Available integrations</h4>
      </div>
      <div class="card__body">
        <section>
          <h5 class="h5">Websockets</h5>
          You can use your API key to access the websocket endpoint for your application. It will provide a continuous stream of data
          from the devices connected to your application.

          <h5>MQTT (Coming soon)</h5>
        </section>
      </div>
    </div>
  </section>
</template>
