<template>
  <require from="components/application/application-nav-bar-menu/application-nav-bar-menu.html"></require>
  <require from="components/application/application-output-table/application-output-table"></require>
  <require from="components/common/code-line/code-line"></require>
  <require from="components/common/code-block/code-block"></require>
  <application-nav-bar-menu application.bind="application" selectableapplications.bind="selectableApplications" router.bind="router"></application-nav-bar-menu>
  <section class="section">
    <card>
      <card-header>
        <card-title>Your outputs</card-title>
        <card-header-actions show.bind="outputs.length > 0">
          <button click.delegate="createNewOutput()" class="button button--primary button--raised">Add output</button>
        </card-header-actions>
      </card-header>
      <card-body no-padding>
        <application-output-table show.bind="outputs.length > 0" application-eui.bind="application.appEUI" outputs.bind="outputs"></application-output-table>
        <div class="no-data-card-body" show.bind="outputs.length === 0">
          <i class="no-data-card-body__icon material-icons">call_split</i>
          <div class="no-data-card-body__heading h2">No outputs found.
            <div class="button-group">
              <button class="button button--primary button--raised" click.delegate="createNewOutput()">Create one?</button>
            </div>
          </div>
        </div>
      </card-body>
    </card>
    <card>
      <card-header>
        <card-title>Available outputs from the box</card-title>
      </card-header>
      <card-body>
        <section>
          <h4 class="h4">Websocket integrations</h4>
          <p class="tn-p">
            Several of the resources in Congress has a /stream-endpoint which allows for connection through a Websocket connection. Below
            you will find a curl example for listening in on data on the selected application. To make it work you'd need
            to provide an API key with the correct permissions which can be created under the
            <a class="link" route-href="route: api-keys">API management tab</a>.
          </p>
          <code-block heading='Curl WebSocket Example' icon='code' code.bind="curlWebsocketExample"></code-block>
        </section>
        <card-body>
    </card>
  </section>
</template>
