<template>
  <require from="components/application/application-nav-bar-menu/application-nav-bar-menu.html"></require>
  <require from="components/device/device-keys-card/device-keys-card"></require>
  <require from="components/device/device-message-list/device-message-list"></require>
  <require from="components/device/device-overview-card/device-overview-card"></require>
  <require from="components/device/device-message-panel/device-message-panel"></require>
  <require from="components/tag/tag-entity-map-card/tag-entity-map-card"></require>
  <application-nav-bar-menu application.bind="application" selectableapplications.bind="selectableApplications" router.bind="router"></application-nav-bar-menu>
  <div class="section">
    <div class="grid__row">
      <device-overview-card class="grid__item grid__item--4" application.bind="application" device.bind="device" delete-device.delegate="deleteDevice($event)"
        edit-device.delegate="editDevice($event)"></device-overview-card>
      <device-keys-card class="grid__item grid__item--4" device.bind="device" provision-device.delegate="showDeviceProvisionDetails($event)"></device-keys-card>
      <tag-entity-map-card class="grid__item grid__item--4" tag-entity.bind="device" new-marker-position.delegate="updatePositionTag($event)"></tag-entity-map-card>
      <div class="grid__item grid__item--6">
        <card>
          <card-header>
            <card-title>Device messages</card-title>
          </card-header>
          <card-body>
            <device-message-panel app-eui.bind="application.appEUI" device.bind="device"></device-message-panel>
          </card-body>
        </card>
      </div>
      <div class="grid__item grid__item--6">
        <card>
          <card-header>
            <card-title>Device data</card-title>
          </card-header>
          <card-body>
            <device-message-list app-eui.bind="application.appEUI" device.bind="device"></device-message-list>
          </card-body>
        </card>
      </div>
    </div>
  </div>
</template>
