<template bindable="selectedApplication, selectableApplications, router">
  <require from="./application-dropdown.scss"></require>
  <require from="components/dropdown"></require>
  <require from="components/dropdown-title"></require>
  <require from="components/dropdown-container"></require>
  <require from="valueConverters/tagName"></require>
  <dropdown disabled.bind="selectableApplications.length === 0">
    <dropdown-title>
      <div class="application-dropdown">
        <h3 class="h3 application-dropdown__title" title="${application.name}">${ selectedApplication | tagName }<span if.bind="selectableApplications.length > 0" class="material-icons application-dropdown__triangle">arrow_drop_down</span></h3>
      </div>
    </dropdown-title>
    <dropdown-container>
      <nav>
        <a route-href="route.bind: router.currentInstruction.config.name; params.bind: { applicationId: selectableApplication.appEUI }"
          class="application-dropdown__menu-item" repeat.for="selectableApplication of selectableApplications">${ selectedApplication | tagName }</a>
      </nav>
    </dropdown-container>
  </dropdown>
</template>
