@import 'styles/setup/typography';

.application-details-card {
  min-width: 300px;
  width: 25%;

  &__heading {
    color: $font-color-primary;
    display: block;
    font-size: $font-size--15;
    font-weight: $font-weight--regular;
  }

  &__content {
    color: $font-color-secondary;
    font-size: $font-size--14;
  }

  &__icon {
    color: $font-color-disabled;
    font-size: 128px;
    margin: 0 auto;
  }
}
