<template class="card application-details-card" bindable="application">
  <require from="components/tag-chip-list-simple.html"></require>
  <require from="components/application-details-card.scss"></require>
  <div class="card__header card__header--colored">
    <h4 class="h4 card-header-heading">Application details</h4>
    <div class="card-header-actions">
      <button click.trigger="editApplication()" class="card-header-actions__action">Edit</button>
    </div>
  </div>
  <div class="card__body">
    <h5 class="application-details-card__heading">Name</h5>
    <p class="application-details-card__content">${ application.name }</p>
    <h5 class="application-details-card__heading">EUI</h5>
    <p class="application-details-card__content">${ application.appEUI }</p>
    <h5 class="application-details-card__heading">Key</h5>
    <p class="application-details-card__content">${ application.appKey }</p>
    <tag-chip-list-simple tag-entity.bind="application"></tag-chip-list-simple>
  </div>
</template>
