<template bindable="application">
  <require from="components/graph-chart"></require>
  <require from="components/dropdown"></require>
  <require from="components/dropdown-title"></require>
  <require from="components/dropdown-container"></require>
  <require from="valueConverters/tagDescription"></require>
  <a route-href="route: application_details; params.bind: { applicationId: application.appEUI }" class="card card--selectable application-card"
    title="${ application | tagDescription }">
    <div class="card__header">
      <h3 class="h3 application-card__header">${application.name}</h3>
      <dropdown container-classes="dropdown__container--transform-top-right">
        <dropdown-title><span class="material-icons">more_vert</span></dropdown-title>
        <dropdown-container>
          <div class="dropdown__menu-item" click.delegate="editApplication()">Edit</div>
          <div class="dropdown__menu-item" click.delegate="deleteApplication()">Delete</div>
        </dropdown-container>
      </dropdown>
    </div>
    <div class="card__body card__body--no-padding">
      <graph-chart chart.bind="chart" chart-data.bind="chartData" chart-options.bind="chartOptions" chart-type.bind="chartType"></graph-chart>
    </div>
  </a>
</template>
