<template bindable="devices">
  <require from="valueConverters/deviceName"></require>
  <table class="table">
    <thead>
      <tr>
        <th class="table__head-data">EUI</th>
        <th class="table__head-data">Dev address</th>
        <th class="table__head-data">App key</th>
        <th class="table__head-data">Type</th>
      </tr>
    </thead>
    <tbody>
      <tr repeat.for="device of devices">
        <td class="table__data">${ device.deviceEUI | deviceName }</td>
        <td class="table__data">${ device.devAddr }</td>
        <td class="table__data">${ device.appSKey }</td>
        <td class="table__data">${ device.deviceType }</td>
      </tr>
    </tbody>
  </table>
</template>
