<template>
  <div ref="dropdown" class="dropdown">
    <div class="dropdown__title" click.delegate="toggleDropdown()">
      <slot name="dropdown-title">Fallback title</slot>
      <!--<span class="dropdown__caret material-icons">expand_more</span>-->
    </div>
    <div ref="container" class="dropdown__container dropdown__container--${ dropdownPosition } ${active ? 'dropdown__container--visible' : ''} ${ containerClass }">
      <slot name="dropdown-container">Fallback items</slot>
    </div>
  </div>
</template>
