<template>
  <require from="valueConverters/tag"></require>
  <div class="chip chip--has-action" click.delegate="chipClicked($event)">
    <span if.bind="!editing" click.delegate="toggleEditing()" class="chip__text">${tag | tag}</span>
    <button if.bind="!editing" click.trigger="deleteTag()" class="material-icons chip__action-icon">cancel</button>
    <form class="chip-form" show.bind="editing" submit.trigger="submitTag">
      ${tag.key}:<input class="chip-form__input" placeholder="Tag value" value.bind="tag.value" />
      <button show.bind="editing" type="button" click.delegate="toggleEditing()" class="material-icons chip__action-icon">cancel</button>
      <button show.bind="editing" type="submit" click.delegate="submitTag()" class="material-icons chip__action-icon">check_circle</button>
    </form>
  </div>
</template>
