<template bindable="device">
  <div class="device-expansion-panel__section">
    <span class="device-expansion-panel__section-header">Network key:</span>
    <span class="device-expansion-panel__section-data">${ device.nwkSKey }</span>
  </div>
  <div class="device-expansion-panel__section">
    <span class="device-expansion-panel__section-header">App key:</span>
    <span class="device-expansion-panel__section-data">${ device.appSKey }</span>
  </div>
  <div class="device-expansion-panel__section">
    <span class="device-expansion-panel__section-header">Network key:</span>
    <span class="device-expansion-panel__section-data">${ device.nwkSKey }</span>
  </div>
  <div class="device-expansion-panel__section">
    <span class="device-expansion-panel__section-header">Device EUI:</span>
    <span class="device-expansion-panel__section-data">${ device.deviceEUI }</span>
  </div>
  <div class="device-expansion-panel__section">
    <span class="device-expansion-panel__section-header">F? Count Up:</span>
    <span class="device-expansion-panel__section-data">${ device.fCntUp }</span>
  </div>
  <div class="device-expansion-panel__section">
    <span class="device-expansion-panel__section-header">F? Count Down:</span>
    <span class="device-expansion-panel__section-data">${ device.fCntDn }</span>
  </div>
  <div class="device-expansion-panel__section">
    <span class="device-expansion-panel__section-header">Relaxed counter:</span>
    <span class="device-expansion-panel__section-data">${ device.relaxedCounter ? 'Yes' : 'No' }</span>
  </div>
</template>
