@import 'setup/typography';

@import 'variables/grid';

.gateway-map {
  display: flex;

  &__search {
    padding: $grid-size * 2;
  }

  &__map {
    flex-grow: 1;
  }
}

.gateway-search-result {
  &__search-item {
    color: $font-color-secondary;
    display: flex;
    line-height: $grid-size * 3;
    padding: $grid-size;
  }

  &__search-item-icon {
    color: $font-color-secondary;
    margin-right: $grid-size;
  }
}
