@import 'variables/colors';

#nprogress {
  position: relative;
  z-index: 1031;
}

/* Overrides of color and z-index */
#nprogress .bar {
  background: $color--telenor-blue;
}

/* Fancy blur effect */
#nprogress .peg {
  box-shadow: 0 0 10px $color--telenor-blue-dark, 0 0 5px $color--telenor-blue-dark;
}
