<template class="profile-dropdown">
  <require from="components/dropdown"></require>
  <require from="components/dropdown-title"></require>
  <require from="components/dropdown-container"></require>
  <require from="components/propeller.html"></require>

  <dropdown dropdown-position='below' container-classes='profile-dropdown__container dropdown__container--transform-top-right'>
    <dropdown-title><span class="top-header__icon material-icons">account_circle</span></dropdown-title>
    <dropdown-container>
      <div class="avatar-container">
        <img class="avatar-container__avatar" if.bind="userInformation.gravatarSrc" src.bind="userInformation.gravatarSrc" alt="avatar"
        />
      </div>
      <div class="profile-username">
        <span class="profile-username__name-label">Signed in as</span>
        <span class="profile-username__name" title="${ userInformation.userProfile.email }">${ userInformation.userProfile.email }</span>
      </div>
      <a class="profile-dropdown__menu-item" target="_blank" rel="noopener noreferrer" href.bind="myPageUrl">My page</a>
      <a class="profile-dropdown__menu-item" click.trigger="logOut()">Logout</a>
    </dropdown-container>
  </dropdown>
</template>
