<template class="side-bar" bindable="router">
  <require from="components/raven.html"></require>
  <require from="components/propeller.html"></require>
  <require from="components/generic-side-bar-nav.html"></require>
  <aside class="side-bar__wrapper">
    <div class="sub-header">
      <h2 class="sub-header__header-text">
        <a class="sub-header__header-link" href="/#">Telenor LORA <span class="sub-header__header-logo"><propeller /></a></span>
      </h2>
    </div>
    <nav class="side-bar__content-container">
      <a repeat.for="row of router.navigation" class="side-bar__menu-entry ${row.isActive ? 'side-bar__menu-entry--selected' : ''}"
        route-href="route.bind: row.config.name;">${row.title}</a>
    </nav>
    <div class="side-bar__footer">
      <raven containerless></raven>
    </div>
  </aside>
</template>
