@import 'setup/typography';

@import 'variables/animations';
@import 'variables/colors';
@import 'variables/grid';

.snackbar {
  bottom: -$grid-size * 6;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  transition: all .25s $animation-cubic-bezier-1;
  z-index: 10000;

  &--active {
    bottom: 0;
    transform: translate(0, 0);
  }

  &__message-container {
    align-items: center;
    background-color: #323232;
    border-radius: 2px;
    color: $color--white;
    display: inline-flex;
    height: $grid-size * 6;
    line-height: $grid-size * 6;
    max-width: $grid-size * 71;
    min-width: $grid-size * 36;
    padding: 0 $grid-size * 3;
  }

  &__message {
    font-size: $font-size--14;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__dismiss-message-icon {
    line-height: $grid-size * 6;
    margin-left: $grid-size * 6;
  }
}
