@import "variables/grid";
@import "mixins/responsive";

.grid {
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$grid-gutter-size;
    margin-right: -$grid-gutter-size;
  }

  &__item {
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-left: $grid-gutter-size;
    padding-right: $grid-gutter-size;
    width: 100%;

    @include desktop() {
      &--3 {
        width: 25%;
      }

      &--4 {
        width: 33.3333333%;
      }

      &--6 {
        width: 50%;
      }

      &--8 {
        width: 66.6666666%;
      }

      &--9 {
        width: 75%;
      }

      &--12 {
        width: 100%;
      }
    }

    &--no-stretch {
      align-items: flex-start;
    }
  }
}
