a,
.link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:focus {
    color: inherit;
  }
}

.link--colored {
  color: $color--telenor-blue;

  &:hover,
  &:focus {
    color: $color--telenor-blue-darker;
  }
}