<template bindable="outputs">
  <require from="valueConverters/tagName"></require>
  <require from="./mqtt-endpoint-details.html"></require>
  <require from="./mqtt-tls-details.html"></require>
  <require from="./awsiot-endpoint-details.html"></require>
  <require from="./awsiot-tls-details.html"></require>
  <table class="table">
    <thead>
      <tr>
        <th class="table__head-data">Name</th>
        <th class="table__head-data">Type</th>
        <th class="table__head-data">Endpoint</th>
        <th class="table__head-data">TLS</th>
        <th class="table__head-data">Status</th>
        <th class="table__head-data visible-desktop">Tags</th>
        <th class="table__head-data"></th>
      </tr>
    </thead>
    <tbody>
      <tr repeat.for="output of outputs">
        <td class="table__data">Unnamed</td>
        <td class="table__data">${ output.config.type }</td>
        <td class="table__data">
          <mqtt-endpoint-details if.bind="output.config.type === 'mqtt'" mqtt-output.bind="output"></mqtt-endpoint-details>
          <awsiot-endpoint-details if.bind="output.config.type === 'awsiot'" awsiot-output.bind="output"></awsiot-endpoint-details>
        </td>
        <td class="table__data">
          <mqtt-tls-details if.bind="output.config.type === 'mqtt'" mqtt-output.bind="output"></mqtt-tls-details>
          <awsiot-tls-details if.bind="output.config.type === 'awsiot'" aws-output.bind="output"></awsiot-tls-details>
        </td>
        <td class="table__data">${ output.status }</td>
        <td class="table__data visible-desktop">
        </td>
        <td class="table__data table__data--action-column">
          <dropdown container-classes="dropdown__container--transform-top-right">
            <dropdown-title>
              <span class="material-icons dropdown__icon">more_vert</span>
            </dropdown-title>
            <dropdown-container>
              <a class="dropdown__menu-item" click.delegate="showOutputLog(output)">Show log</a>
              <a class="dropdown__menu-item" click.delegate="editOutput(output)">Edit</a>
              <a class="dropdown__menu-item" click.delegate="deleteOutput(output)">Delete</a>
            </dropdown-container>
          </dropdown>
        </td>
      </tr>
    </tbody>
  </table>
</template>
