<template>
  <require from="components/common/range-chooser/range-chooser"></require>
  <require from="components/common/graph-chart/graph-chart"></require>
  <require from="components/common/graph-chart/no-graph-available.html"></require>
  <require from="valueConverters/tagName"></require>
  <require from="./application-shared-graph-card.scss"></require>
  <card>
    <card-header>
      <card-title>Graph for ${application | tagName}</card-title>
      <card-header-actions>
        <range-chooser selected-range.bind="selectedRange"></range-chooser>
      </card-header-actions>
    </card-header>
    <card-body>
      <graph-chart min-height chart-data.bind="chartData" chart-options.bind="chartOptions" chart-type.bind="chartType"></graph-chart>
      <no-graph-available if.bind="!chartData || chartData.datasets.length === 0"></no-graph-available>
    </card-body>
    <card-actions align-right>
      <div class="application-data-details-card__data-mappers" if.bind="mapperChain">
        <span class="application-data-details-card__data-mapper-name">Mapper: ${mapperChain.name || "Unnamed mapper"}</span>
      </div>
      <tn-button flat click.delegate="createNewDataMapper()">New data mapper</tn-button>
    </card-actions>
  </card>
</template>
