<template class="device-map">
  <require from="./tag-entity-map-card.scss"></require>
  <card>
    <card-body no-padding>
      <div if.bind="tagEntityMarkers.length === 0 && !updating" class="device-map__overlay">
        <h3 class="h3">No map data</h3>
      </div>
      <div if.bind="updating" class="device-map__overlay device-map__overlay--help">
        Click on the map where you want to place your marker.
      </div>
      <google-map latitude.bind="latitude" longitude.bind="longitude" markers.bind="tagEntityMarkers" zoom="15" map-click.delegate="mapClickEvent($event)"></google-map>
    </card-body>
    <card-actions align-right>
      <button class="button button--flat" click.delegate="updateLocation()">Update location</button>
    </card-actions>
  </card>
</template>
