@import 'setup/typography';

@import 'variables/grid';
@import 'variables/animations';
@import 'variables/colors';

.profile-dropdown {
  display: inline-block;
  line-height: $grid-size * 4;

  &__container {
    left: -160px;
    right: 0;
    top: 105%;
  }

  &__menu-item {
    cursor: pointer;
    display: block;
    min-width: 180px;
    padding: $grid-size / 2 $grid-size * 2;
    transition: background .5s $animation-cubic-bezier-1;

    &:hover {
      background-color: $color--google-grey-200;
    }
  }
}

.profile-username {
  border-bottom: solid 2px $color--google-grey-200;
  border-top: solid 2px $color--google-grey-200;
  padding: $grid-size $grid-size * 2;

  &__name {
    display: block;
    font-size: $font-size--15;
    font-weight: $font-weight--medium;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__name-label {
    color: $font-color-secondary;
    display: block;
    font-size: $font-size--13;
  }

  &__email {
    font-size: $font-size--14;
    font-style: italic;
  }
}

.avatar-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: $grid-size * 2;

  &__avatar {
    background-color: $color-grey-theme--light;
    border: solid 1px $color--google-grey-200;
    border-radius: 100%;
    display: inline-block;
  }
}
